@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
div {
    background: #466368;
    background: linear-gradient(#648880, #293f50);
    border-radius: 10px;
    height: 120px;
  }
body {
    background-color: rgba(198, 197, 185, 1);
}
h1   {
		
	text-align: center;
    color: rgba(216, 216, 246, 0.5);
    font-family: 'Abril Fatface', cursive;
	font-size: 250%;
    }
    
h2   {
		
	text-align: center;
	color: rgba(57, 61, 63, 1);
	font-family: 'Ubuntu', sans-serif;
	font-size: 150%;
	}

p    {
	color: rgba(84, 106, 123, 1);
	font-family: 'ubuntu', sans-serif;
	}

a    {
    color: rgba(84, 106, 123, 1);
    font-family: 'ubuntu', sans-serif;
    font-size: 150%
    }
    
    a:link, a:visited {
        background-color: #C59849;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    a:hover, a:active {
        background-color: #F44336;
    }