@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.topbox {
    background: #466368;
    background: linear-gradient(#648880, #293f50);
    border-radius: 10px;
    padding: 2%;
    margin: 25px;
  }
body {
    background-color: rgba(198, 197, 185, 1);
}
h1   {
		
	text-align: center;
    color: white;
    font-family: 'Abril Fatface', cursive;
	font-size: 250%;
    }
    
h2   {
		
	text-align: center;
	color: rgba(57, 61, 63, 1);
	font-family: 'Ubuntu', sans-serif;
	font-size: 150%;
	}

    h3   {
		
        text-align: center;
        color: rgba(57, 61, 63, 1);
        font-family: 'Ubuntu', sans-serif;
        font-size: 120%;
        }

p    {
	color: rgba(84, 106, 123, 1);
    font-family: 'ubuntu', sans-serif;
    margin: 10px 5px 15px 20px;
	}

a    {
    color: rgba(84, 106, 123, 1);
    font-family: 'ubuntu', sans-serif;
    font-size: 150%
    }
    
    a:link, a:visited {
        background-color: #C59849;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    a:hover, a:active {
        background-color: #F44336;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th, td {
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even){background-color: #f2f2f2}

    table.center {
        margin-left:auto; 
        margin-right:auto;
      }